node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE.md
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
.vscode/
src/*.zip
src/*.gz
*.zip
*.gz
outputCFS/
dist/
.devcontainer/
.env 
.env.example
*.md