RDP_USERNAME=RDP Username/Machine-ID
RDP_PASSWORD=RDP Password
RDP_APP_KEY=RDP App Key


RDP_BASE_URL=https://api.refinitiv.com
RDP_AUTH_URL=/auth/oauth2/v1/token
RDP_BUCKET_NAME=bulk-greenrevenue
RDP_PACKAGE_ID=4e94-6d63-fea034dc-90e2-de33895bd4e9